.categories{
  /* position: relative; */
  position: sticky;
  top: 115px;
  left: 0;
  width: 30%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  padding-right: 30px;
}

.categories>.categories-list{
  background-color: #fff;
  width: 100%;
}

.categories .categories-item{
  border-bottom: 2px solid #efefef;
}

.categories .categories-link{
  display: inline-block;
  padding: 10px 15px;
  color: black;
  font-size: 17px;
  width: 100%;
  transition: all .2s ease;
}

.categories .categories-link:hover{
  background-color: #000;
  color: #fff;
}

.categories .categories-link.active{
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 1300px) {
  .categories{
    width: 40%;
  }
}

@media screen and (max-width: 992px) {
  .categories{
    display: none;
  }
}