*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  background-color: rgb(239, 239, 239);
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.container{
  max-width: 1300px;
  margin: auto;
}

.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}

@media screen and (max-width: 1300px) {
  .container{
    padding: 0px 20px;
  }
}