.cart-table{
  width: 100%; 
  display: grid;
  grid-template-rows: [header] 50px [content] minmax(200px, auto) 
    [footer] 50px;
}

.table-header {
  grid-row: header;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
}

.table-header>span {
  align-self: center;
  justify-self: center;
  font-weight: bold;
}

.table-header>span:nth-of-type(1) {
  background-color: transparent;
}

.cart-products-list {
  grid-row: content;
}

.cart-product{
  display: grid;
  grid-template-columns: [img] 2fr [title] 3fr [price] 1fr [counter] 1fr [remove] 1fr;
  grid-column-gap: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.493);
  min-height: 200px;
}

.cart-product>*{
  justify-self: center;
  align-self: center;
}

.cart-product-title{
  justify-self: start;
}

.cart-product-img{
  max-height: 200px;
  max-width: 90%;
  padding: 15px;
}

.cart-product{
  background-color: #fff;
}

.cart-product-remove{
  cursor: pointer;  
  border: none;
  padding: 15px;
  background-color: rgb(239, 239, 239);;
}

/* .cart-totalPrice td{
  padding-right: 20px;
  background-color: #fff;
  text-align: right;
}
 */

@media screen and (max-width: 767px) {
  .cart-product-title {
    font-size: 1.3rem;
  }

  .cart-product-price {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 575px) {
  .table-header {
    display: none;
  }

  .cart-product-title {
    grid-column: span 2;
    text-align: right;
    justify-self: end;
    padding-right: 20px;
  }

  .cart-product {
    grid-template-columns: [img-price] 3fr [title-price] 2fr [counter] 1fr;
    grid-template-rows: repeat(2, minmax(150px, auto));
  }

  .cart-product-img{
    max-height: 150px;
    max-width: 100%;
  }

  .cart-product-price{
    grid-column: img-price;
    grid-row: 2/3;
  }

}
