.header{
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #d0d0d0;
  z-index: 5;
}

.header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.logo{
  font-family: 'Lobster', open-sans;
  margin: 0px;
  cursor: pointer;
}

.cart-link{
  border: 2px solid black;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  color: #000;
  transition: all .3s ease;
}

.cart-link:hover{
  background-color: #000;
  color: #fff;
}

.cart-elementsCounter{
  margin-left: 10px;
}

.cart-link-wrapper:hover .cart-link{
  color: #fff;
}

.cart-elementsCounter{
  font-weight: bold;
}