.products-list-wrapper{
  position: relative;
  padding: 20px;
  background-color: #fff;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
}

.products-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .products-list::after{
  content: '';
  flex: auto;
} */

.products-list-caption{
  display: flex;
  margin-bottom: 30px;
}

.products-mainCategory{
  margin: 0px;
}

.products-list-goBack {
  margin-left: 20px;
  font-size: 35px;
  cursor: pointer;
  color: #000;
}

@media screen and (max-width: 1300px) {
  .products-list{ 
    justify-content: center;
  }
}