.product{
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* width: 300px; */
  min-height: 420px;
  padding: 15px;
  padding-bottom: 55px;
  /* margin: 0px 30px 30px 0px; */
  /* margin-bottom: 30px; */
  border: 2px solid #dfdfdf;
}

.product-caption{
  width: 100%;
  flex-grow: 1;
}

.product-name{
  /* font-size: 25px; */
  font-size: 1.5rem;
  margin-top: 0px;
}

.product-name a{
  color: black;
}

.product-price{
  margin: 0px;
  align-self: flex-end;
}

.img-wrapper{
  position: relative;
  /* height: 60%; */
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.img-link{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper img{
  /* height: 100%; */
  max-height: 200px;
}

.product-category{
  cursor: pointer;
}

.product-category:hover{
  color: #929292;
}

@media screen and (max-width: 420px) {
  .product{
    min-height: 350px;
  }
  
  .img-wrapper img {
    max-width: 200px;
  }
}