.main-inner{
  position: relative;
  display: flex;
  /* padding: 30px; */
  padding-top: 30px;
}

.products{
  position: relative;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 3;
}