.search-form{
  border: 3px solid black;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin: 0px 40px;
  max-width: 700px;
}

.search-form>*{
  padding: 10px 20px;
  border: none;
  font-size: 16px;
}

.search-form>*:focus{
  outline: none;
}

.search-form>[name='query']{
  flex-grow: 1;
}

.search-button{
  background-color: #000;
  cursor: pointer;
  color: #fff;
}


@media screen and (max-width: 767px) {
  .search-form{
    margin: 20px 0px;
    width: 100%;
    order: 3;
  }
}