.header{
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #d0d0d0;
  z-index: 5;
}

.header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.logo{
  font-family: 'Lobster', open-sans;
  margin: 0px;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .header-inner{
    padding-bottom: 0px;
  }
} 