.products-caption{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.products-mainCategory{
  margin: 0px;
  font-weight: 300;
}

.products-goBack {
  display: flex;
  margin-left: 20px;
  font-size: 35px;
  cursor: pointer;
  color: #000;
}

.goBack-icon {
  width: 1em;
}