.cart-link{
  border: 2px solid black;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  color: #000;
  transition: all .3s ease;
}

.cart-link:hover{
  background-color: #000;
  color: #fff;
}

.cart-link:hover .cart-icon {
  fill: #fff;
}

.cart-elementsCounter{
  display: inline-block;
  margin-left: 5px;
  min-width: 30px;
  font-weight: bold;
  text-align: center;
}

.cart-icon {
  fill: #000;
  transition: all .3s ease;
}

.cart-icon-wrapper {
  width: 20px;
}

.cart-title{
  margin-left: 5px;
}

/* Media Queries */

@media screen and (max-width: 992px){
  .cart-title{
    display: none;
  }

  .cart-link{
    padding: 10px;
  }
} 