.product-info{
  background-color: #fff;
  display: flex;
}

.product-info-inner{
  display: grid;
  grid-template-columns: auto 1fr 200px;
  grid-gap: 20px;
  padding: 30px 0px;
}

.img-section{
  align-self: center;
  order: 1;
}

.about-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0px 30px;
  order: 2;
}

.about-category:hover {
  color: rgba(0, 0, 0, 0.432);
}

.about-category {
  font-size: 1.3rem;
}

.about-description{
  line-height: 1.6rem;
  font-size: 1.1rem;
}

.buy-section{
  min-width: 200px;
  align-self: center;
  justify-self: end;
  text-align: end;
  order: 3;
}

.buy-section h2{
  font-size: 30px;
}

.buy-section button{
  border: none;
  padding: 15px 30px;
  background: #20a520;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.product-info img{
  max-height: 500px;
  /* max-width: 400px; */
  max-width: 300px;
}

@media screen and (max-width: 1200px) {
  .product-info-inner {
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
  }

  .buy-section{
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: start;
  }

  .img-section{
    order: 2;
    align-self: end;
    text-align: end;
  }

  .product-info img{
    max-height: 350px;
  }

  .about-section{
    padding: 0px;
    order: 1;
    grid-row: 1/3;
    align-self: center;
  }
}

@media screen and (max-width: 768px) {

  .product-info-inner{
    grid-template-columns: 1fr;
  }

  .img-section{
    order: 1;
    grid-row: 1/2;
    justify-self: center;
    padding: 20px;
  }

  .product-info img{
    max-height: 300px;
    max-width: 100%;
  }

  .about-section{
    grid-row: 2/3;
  }

  .buy-section{
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    text-align: start;
    width: 100%;
  }
}