.cart-product{
  display: grid;
  grid-template-columns: [img] 2fr [title] 3fr [price] 1fr [counter] 1fr [remove] 1fr;
  grid-column-gap: 10px;
  background-color: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  min-height: 200px;
}

.cart-product>*{
  justify-self: center;
  align-self: center;
}

.cart-product-title{
  justify-self: start;
  font-weight: 300;
  font-size: 1.4rem;
}

.cart-product-price {
  font-weight: 500;
  font-size: 1.3rem;
  white-space: nowrap;
}

.cart-product-img{
  max-height: 200px;
  max-width: 200px;
  padding: 15px;
}

.cart-product-remove{
  cursor: pointer;  
  border: none;
  padding: 15px;
  background-color: rgb(255, 118, 118);
  color: #fff;
}

/* Media queries */

@media screen and (max-width: 768px) {
  .cart-product-title {
    grid-column: span 2;
    text-align: center;
    justify-self: center;
    padding-right: 20px;
  }

  .cart-product {
    grid-template-columns: [img-price] 3fr [title-price] 2fr [counter] 1fr;
    grid-template-rows: repeat(2, minmax(150px, auto));
  }

  .cart-product-img{
    max-height: 150px;
  }

  .cart-product-price{
    grid-column: img-price;
    grid-row: 2/3;
  }
}

@media screen and (max-width: 480px) {
  .cart-product-img {
    max-width: 100%;
  }
}