.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog>.container {
  margin: 0px;
  width: 100%;
  flex-grow: 1;
  display: flex;
}

.main-inner{
  position: relative;
  display: flex;
  padding-top: 30px;
  width: 100%;
  flex-grow: 1;
}

.products{
  position: relative;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 3;
}